## Load dataset

In [1]:
import pandas as pd

In [6]:
loan_training_set1 = pd.read_csv('./data/01_raw/Loan_training_set_1_4.csv', sep = ',' , skiprows=1)
loan_training_set1.drop(loan_training_set1.index[105451], inplace=True)
loan_training_set1.drop(loan_training_set1.index[105451], inplace=True)
loan_training_set1

C:\Users\nacho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,112435993,NaN,2300.0,2300.0,2300.0,36 months,12.62%,77.08,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,112290210,NaN,16000.0,16000.0,16000.0,60 months,12.62%,360.95,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,112436985,NaN,6025.0,6025.0,6025.0,36 months,15.05%,209.01,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,112439006,NaN,20400.0,20400.0,20400.0,36 months,9.44%,652.91,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,112438929,NaN,13000.0,13000.0,13000.0,36 months,11.99%,431.73,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105446,102556443,NaN,24000.0,24000.0,24000.0,60 months,23.99%,690.30,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
105447,102653304,NaN,10000.0,10000.0,10000.0,36 months,7.99%,313.32,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
105448,102628603,NaN,10050.0,10050.0,10050.0,36 months,16.99%,358.26,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
105449,102196576,NaN,6000.0,6000.0,6000.0,36 months,11.44%,197.69,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
105450,99799684,NaN,30000.0,30000.0,30000.0,60 months,25.49%,889.18,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
loan_training_set2 = pd.read_csv('./data/01_raw/Loan_training_set_2_4.csv', sep = ',' , skiprows=1)
loan_training_set2.drop(loan_training_set2.index[122701], inplace=True)
loan_training_set2.drop(loan_training_set2.index[122701], inplace=True)
loan_training_set2

C:\Users\nacho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,118659541,NaN,33000.0,33000.0,33000.0,36 months,7.21%,1022.12,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,119321612,NaN,40000.0,40000.0,40000.0,60 months,15.05%,952.65,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,120122535,NaN,12000.0,12000.0,12000.0,36 months,7.97%,375.88,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,119246018,NaN,7000.0,7000.0,7000.0,36 months,7.97%,219.26,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,119374887,NaN,32000.0,32000.0,32000.0,36 months,11.99%,1062.71,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122696,110380307,NaN,6000.0,6000.0,6000.0,36 months,23.88%,235.02,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
122697,110479222,NaN,20000.0,20000.0,20000.0,60 months,26.30%,602.37,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
122698,109866673,NaN,35000.0,35000.0,35000.0,60 months,30.89%,1151.58,G,G3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
122699,110394553,NaN,30775.0,30775.0,30525.0,60 months,30.65%,1008.00,F,F4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
122700,109517381,NaN,18900.0,18900.0,18900.0,60 months,30.94%,622.44,G,G4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
loan_training_set3 = pd.read_csv('./data/01_raw/Loan_training_set_3_4.csv', sep = ',' , skiprows=1)
loan_training_set3.drop(loan_training_set3.index[235629], inplace=True)
loan_training_set3.drop(loan_training_set3.index[235629], inplace=True)
loan_training_set3

C:\Users\nacho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,19,129,130,131,134,135,136,139) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39%,336.64,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99%,321.08,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59%,516.36,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14%,319.08,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66%,260.20,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235624,8598660,NaN,18400.0,18400.0,18400.0,60 months,14.47%,432.64,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235625,9684700,NaN,22000.0,22000.0,22000.0,60 months,19.97%,582.50,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235626,9604874,NaN,2000.0,2000.0,2000.0,36 months,7.90%,62.59,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235627,9584776,NaN,20700.0,20700.0,20700.0,60 months,16.99%,514.34,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
235628,9199665,NaN,10000.0,10000.0,9975.0,36 months,19.20%,367.58,D,D3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
loan_training_set4 = pd.read_csv('./data/01_raw/Loan_training_set_4_4.csv', sep = ',' , skiprows=1)
loan_training_set4.drop(loan_training_set4.index[421095], inplace=True)
loan_training_set4.drop(loan_training_set4.index[421095], inplace=True)
loan_training_set4

C:\Users\nacho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,19,59) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68506789,NaN,12000.0,12000.0,12000.0,60 months,9.80%,253.79,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68426545,NaN,16000.0,16000.0,16000.0,60 months,12.88%,363.07,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68394562,NaN,30000.0,30000.0,30000.0,36 months,15.77%,1051.31,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66583801,NaN,33600.0,33600.0,33600.0,36 months,10.78%,1096.53,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68466916,NaN,25000.0,25000.0,25000.0,36 months,7.49%,777.55,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421090,36371250,NaN,10000.0,10000.0,10000.0,36 months,11.99%,332.10,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421091,36441262,NaN,24000.0,24000.0,24000.0,36 months,11.99%,797.03,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421092,36271333,NaN,13000.0,13000.0,13000.0,60 months,15.99%,316.07,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421093,36490806,NaN,12000.0,12000.0,12000.0,60 months,19.99%,317.86,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
421094,36271262,NaN,20000.0,20000.0,20000.0,36 months,11.99%,664.20,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
frames = [loan_training_set1, loan_training_set2, loan_training_set3,loan_training_set4]
lendingclub = pd.concat(frames)

In [9]:
lendingclub.to_csv('./data/01_raw_general.csv', index = False)